@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(132, 161, 180);
  font-family: 'Ubuntu', sans-serif;
  user-select: none;
}
.one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100%;
  font-size: 30px;
  padding: 80px;
  border-bottom: 3px solid #fff;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
.two-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background-color: rgb(243, 243, 243);
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid grey;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.three {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 25px;
  width: 100%;
  height: 500px;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  height: 100%;
  width: 450px;
  background-color: rgb(88, 150, 185);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-right: 30px;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 30px;
  color: white;
  user-select: none;
}
.disable {
  pointer-events: none;
  cursor: not-allowed;
}
.cell:hover {
  background-color: rgb(133, 179, 204);
}
.reveal-cell {
  background-color: rgb(28, 243, 214);
}
.reveal-cell:hover {
  background-color: rgb(180, 245, 236);
}
.hit {
  background-color: rgb(184, 81, 81);
}
.hit:hover {
  background-color: rgb(247, 151, 151);
}
#enemy .cell, #placeShips-gameboard .cell {
  cursor: crosshair;
}
.restart {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.restart button {
  width: 200px;
  height: 80px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
}
button:hover {
  cursor: pointer;
}
#placeShips {
  opacity: 1;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease;
}
.show {
  opacity: 1;
  pointer-events: auto;
}
#placeShips-content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  height: 600px;
  width: 750px;
  max-width: 100%;
  user-select: none;
  background-color: rgb(88, 150, 185);
}
#placeShips-content h2 {
  margin: 0 130px;
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#placeShips-gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 2px;
  height: 100%;
  width: 60%;
}
.over {
  background-color: aqua;
}
#ship-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100%;
}
.ship {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.part {
  border: 1px solid black;
  background-color: white;
  width: 38px;
  height: 37px;
  margin-right: 1px;
}
.button-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}
#start, #place-random {
  font-size: 19px;
  height: 60px;
  width: 100px;
  padding: 5px;
  margin-right: 20px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  background-color: #403E39;
  color: #fff;
  font-family: var(--body-font);
}